body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/image/background.png");
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
@font-face {
   font-family: gothic;
   src: url(/gothic.ttf);
}
h1 {
	font-family:gothic;
	text-align: center;
	font-size: 72px;
      	color: white;
}
p {
	font-family:gothic;
	text-align: center;
	font-size:25px;
}
h2 {
	font-family:gothic;
	font-size:40px;
   	color: white;
}
h3 {
	font-family:gothic;
	font-size:30px;
   	color: white;
}
a, p {
	font-family:gothic;
    	color: white;
}
.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.aligncenter {
	float:right;
	position:relative;
	left:50%;
}
.btn {
  background-color: #ffffff;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;
  border: 1px solid Black;
  border-radius: 4px;
}
.btn:hover {
  background-color: #1affa3;
  color: white;
  border: 1px solid  white;
  border-radius: 8px;
}
iframe, table {
  border-radius: 8px;

}
.cover {
  box-shadow: 0 0 5px black;
  transition: all 100ms ease-out;
  width: 142px;
  height: auto;
}
.cover:hover {
  transform: scale(1.1);
  transition: all 100ms ease-out;
  box-shadow: 0 0 5px white;
}
.slot {
    text-align: justify;
    width: 142px;
    display: inline-block;
}
.slot p {
    font-size: 12px
}
.logo {
  height: 162px;
  padding: 8px;
}
#tea {
  width: auto;
  max-height: 162px;
}
.content {
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
  border: 1px solid white;
  flex: 1;
  box-shadow: 0 0 5px black;
}
/*
.content, .logo {
  width: 100%;
} For devices 1000px and smaller: */
@media only screen and (max-device-width: 1000px) {
.cover {
  box-shadow: 0 0 5px black;
  transition: all 100ms ease-out;
  width: 180px;
  height: auto;
}
.cover:hover {
  transform: scale(1.1);
  transition: all 100ms ease-out;
  box-shadow: 0 0 5px white;
}
#tea {
  width: auto;
  max-height: 162px;
  padding: 8px;
}
.slot {
    text-align: justify;
    width: 180px;
    display: inline-block;
}
.slot p {
    font-size: 14px
}
}
