.gamename {
	margin-top: 1%;
	text-shadow: 0 0 4px black;
     font-size: 34px;
}
@media screen and (min-width: 700px) {
  .gamename {
     font-size: 68px;
  }
}
a {
	color:white;
}
.board {
	background-color: rgba(0,0,0,1);
	border: 1px solid White;
	min-width: 410px;
	width: 55%;
	margin: auto;
}
.neko {
	background-color: rgba(0,0,0,0.0);
	min-width: 410px;
	width: 55%;
	margin: auto;
	padding: 0;
	font-size: 0;
}
.right {
	padding: 10px;
}
.left {
	padding: 10px;
}
th {
	font-weight: bold;
}

th.full {
	text-align: center;
	letter-spacing: 0.5px;
	border-radius: 0px;
}

td, th, tr {
	padding: 0.35em 1.5em;
	text-align: center;
	background: rgba(255,255,255,0);
	border-top: 1px solid White;
}

td, th {
	font-family: gothic;
	border-radius: 0px;
	color:white;
}

tr:hover td {
        background-color: #FFFFFF;
	color: black;
}
table {
	width: 100%
}
.catbtn {
  background-color: rgba(0,0,0,1);
  color: white;
  padding: 16px;
  text-align: center;
  margin: 0;
  height: 61px;
  border: 1px solid white;
  outline: 0;
  width: auto;
}
.catbtn:hover {
  background-color: rgba(20,20,20,1);
}
.sbmtbtn, .rulebtn {
  background-color: rgba(0,0,0,1);
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  margin: 0;
  border: 1px solid white;
  border-radius: 4px;
  width: auto;
}
.sbmtbtn:hover, .rulebtn:hover {
  background-color: rgba(20,20,20,1);
}
button {
	cursor: pointer;
}
@media only screen and (max-device-width: 1000px) {
.board, .neko {
	width: 95%;
}
td, th, tr, button {
	font-size: 22px;
}
}
